.background-black {
  background-color: black !important;
}

.resume_photo {
  height: 25% !important;
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1rem !important;
}

.text-white {
  color: white !important;
}

.footerlink-mright {
  margin-right: 1rem !important;
}

.background-green {
  background-color: green !important;
}

.background-red {
  background-color: red !important;
}

/* progress bar */
#skills span {
  top: -30px;
  left: 2%;
  position: relative;
  font-size: 1.4em;
  font-weight: bolder;
  font-family: monospace;
  color: white;
}

progress {
  background-color: white;
  border: 0;
  height: 2.5em;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: white;
}

progress::-webkit-progress-value {
  background-color: black;
}

progress::-moz-progress-bar {
  background-color: black;
}

/* projects */
.project-image {
  width: 100%;
  border: 3px solid black;
}
